.attach{
  background-color: #292F42;
}
.uploaded{
  margin: 30px 0;
  font-size: 15px;
  font-weight: 700;
  color: #a5a5a5;
}
.showfilebox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px 15px;
  box-shadow: #0000000d 0px 0px 0px 1px, #d1d5db3d 0px 0px 0px 1px inset;
}
.left{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.filetype{
  background: #a5a5a5;
  color: #fff;
  padding: 5px 15px;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px; 
}
.left h3{
  font-weight: 600;
  font-size: 18px;
  color: #292F42;
  margin: 0;
}
.right span{
  background: #a5a5a5;
  color: #fff;
  height: 25px;
  width: 25px;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius:  50%;
  -moz-border-radius:  50%;
  -ms-border-radius:  50%;
  -o-border-radius:  50%;
}